#main-navigation {
  position: fixed;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  left: 0;
  transition: transform 2s; }
  #main-navigation > ul {
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(75, 75, 75, 0.719);
    transition: transform 2s; }
    #main-navigation > ul > img {
      width: 150px;
      height: 100px; }
    #main-navigation > ul > li {
      margin-top: 0;
      font-size: 2rem;
      text-align: right;
      list-style: none; }
      #main-navigation > ul > li > a {
        width: 100%;
        text-decoration: none;
        color: white;
        padding: 10px;
        display: inline-block;
        text-align: center; }
      #main-navigation > ul > li:hover {
        background-color: rgba(50, 50, 50, 0.719); }
    #main-navigation > ul > li:first-child {
      font-weight: bold;
      font-size: 2rem; }

#burger {
  width: 50px;
  height: 50px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999; }
  #burger > div {
    width: 80%;
    height: 5px;
    background-color: white;
    margin: 0 auto;
    transition: transform 2s, opacity 1s; }

.menu-unactive {
  transform: translate(100vw, 0); }

.menu-active {
  transform: translate(0, 0); }

@keyframes fadingOut {
  from {
    z-index: 999; }
  to {
    z-index: 0; } }
.menu-active-index {
  z-index: 999; }

.menu-unactive-index {
  animation-name: fadingOut;
  animation-duration: 2s;
  z-index: 0;
  display: none; }

.burger-active > div:first-child {
  transform: rotate(-45deg) translate(-13px, 10px); }
.burger-active > div:nth-child(2) {
  opacity: 0; }
.burger-active > div:last-child {
  transform: rotate(45deg) translate(-13px, -10px); }

@media screen and (min-width: 1000px) {
  #main-navigation {
    height: 7vh;
    width: 100vw;
    flex-direction: row;
    background-color: rgba(75, 75, 75, 0.719);
    contain: strict;
    z-index: 999; }
    #main-navigation > ul {
      padding: 0;
      flex-direction: row;
      width: 100vw;
      height: 7vh;
      overflow-y: hidden; }
      #main-navigation > ul > li {
        padding: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 1.5rem; }

  #burger {
    display: none; }

  .menu-unactive {
    transform: translate(0, 0); } }
.carousel-container {
  width: 60%;
  max-width: 1000px;
  margin: auto;
  display: block;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  margin-top: 10vh; }
  .carousel-container > button {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: rgba(124, 124, 124, 0.384);
    border: none;
    outline: none;
    top: 50%;
    font-size: 3rem;
    font-weight: bold;
    color: white; }
    .carousel-container > button:hover {
      background-color: rgba(83, 83, 83, 0.473); }
  .carousel-container #nextBtn {
    right: 3%; }
  .carousel-container #prevBtn {
    left: 3%; }

.carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
  transition: transform 0.4s ease-in; }
  .carousel-slide > img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; }

@media (max-width: 1400px) {
  .carousel-container {
    width: 75%; } }
@media (max-width: 1024px) {
  .carousel-container {
    width: 100%; } }
#recommended {
  width: 100%;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 35vh; }
  #recommended #rec-options {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid grey; }
  #recommended h1 {
    cursor: pointer;
    font-size: 1.5rem; }
    #recommended h1:hover {
      border-bottom: 4px solid red; }
  #recommended #recommended-products {
    display: flex;
    justify-content: space-around;
    padding: 6vh;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.171);
    background-color: rgba(175, 175, 175, 0.548); }
    #recommended #recommended-products .recommended-product {
      width: 20%; }
      #recommended #recommended-products .recommended-product > a > img {
        width: 250px;
        height: 150px;
        background-position: center;
        background-size: cover;
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.171);
        cursor: pointer; }
        #recommended #recommended-products .recommended-product > a > img:hover {
          border: 2px solid grey; }
      #recommended #recommended-products .recommended-product > h4 {
        font-size: 1.6rem; }
      #recommended #recommended-products .recommended-product > h5 {
        font-size: 1.4rem; }
  #recommended button {
    width: 150px;
    height: 50px;
    margin-top: 5vh;
    border: 3px solid grey;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.4rem;
    outline: transparent; }
    #recommended button:hover {
      border-color: #0084ff;
      color: #0084ff; }

.option-active {
  border-bottom: 4px solid red; }

.special-price {
  color: red;
  text-decoration: line-through; }

@media (max-width: 1124px) {
  #recommended #recommended-products {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0; } }
@media (max-width: 980px) {
  #recommended #recommended-products {
    flex-direction: column; }
    #recommended #recommended-products .recommended-product {
      width: 100%;
      padding: 40px; }
      #recommended #recommended-products .recommended-product > img {
        width: 80%;
        height: auto; } }
#displayItem {
  width: 60%;
  height: auto;
  margin: 20vh auto;
  display: grid;
  text-align: center;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  box-shadow: 5px 5px 15px 9px rgba(0, 0, 0, 0.116);
  grid-gap: 10px; }
  #displayItem img {
    width: 400px;
    height: 250px;
    background-position: center;
    margin: auto;
    padding: 28px; }
  #displayItem p {
    grid-column: 1/3;
    padding: 5% 10%; }

#product-info {
  text-align: left; }
  #product-info > h1 {
    padding-top: 25%; }
  #product-info > ul li {
    padding: 5px;
    list-style: none;
    font-size: 1.2rem; }
  #product-info > ul .price {
    font-size: 2rem; }

@media (max-width: 1100px) {
  #displayItem {
    margin: 5vh auto;
    width: 100%; } }
@media (max-width: 724px) {
  #displayItem {
    display: flex;
    flex-direction: column; }
    #displayItem > p {
      padding-bottom: 10vh; }

  #product-info {
    text-align: center; }
    #product-info > h1 {
      padding: 0; } }
#about-us {
  width: 100%;
  height: auto;
  margin: 10vh auto;
  text-align: center; }
  #about-us > p {
    padding: 5vh;
    padding-top: 0; }
  #about-us > h1 {
    font-size: 4rem;
    padding: 5vh;
    color: white;
    background-color: rgba(75, 75, 75, 0.719); }
  #about-us > h2 {
    padding: 10vh 0vh; }
  #about-us > img {
    width: 100%;
    height: 500px;
    background-image: url(~../media/pics/sofa1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

#ourTeam {
  display: flex;
  justify-content: space-around;
  flex-direction: column; }
  #ourTeam > h1 {
    padding: 5vh; }
  #ourTeam > .employee {
    padding: 5vh 0; }
    #ourTeam > .employee img {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 5vh; }

#employee1 > img {
  background-image: url(~../media/pics/employee1.jpg); }

#employee2 > img {
  background-image: url(~../media/pics/employee2.jpg); }

#employee3 > img {
  background-image: url(~../media/pics/employee3.jpg); }

#timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5vh auto; }
  #timeline > .timelineItem {
    display: flex;
    justify-content: space-between; }
    #timeline > .timelineItem > h3 {
      margin: auto;
      color: rgba(75, 75, 75, 0.719);
      margin-right: 2%; }
    #timeline > .timelineItem > p {
      margin: auto;
      margin-left: 0;
      width: 70%;
      padding: 5vh;
      font-size: 1.2rem;
      background-color: #b4b4b4;
      color: white;
      border-left: 4px solid #1919ff;
      border-bottom: 2px solid rgba(152, 152, 152, 0.719);
      position: relative; }
      #timeline > .timelineItem > p::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: 4px solid #1919ff;
        background-color: white;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        margin: auto; }
      #timeline > .timelineItem > p:hover::before {
        background-color: #1919ff; }

@media (min-width: 1024px) {
  #about-us > h2 {
    width: 80%;
    font-size: 3rem;
    margin: auto; }
  #about-us > p {
    font-size: 1.4rem;
    padding-bottom: 10vh; }

  #ourTeam {
    flex-direction: row; }

  #timeline {
    width: 60%;
    padding: 10vh 0;
    margin: auto; } }
#productsDisplay {
  width: 60%;
  margin: 10vh auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  position: relative; }
  #productsDisplay > .productItem {
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 2.5vh; }
    #productsDisplay > .productItem > a > img {
      width: 100%;
      height: 250px; }
      #productsDisplay > .productItem > a > img:hover {
        border: 5px solid rgba(75, 75, 75, 0.719); }

#filterForm {
  width: 40%;
  padding-top: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  justify-items: center; }
  #filterForm > label {
    font-size: 1.5rem;
    font-weight: bold; }
  #filterForm > button {
    width: 150px;
    padding: 5px;
    border: none;
    background-color: rgba(75, 75, 75, 0.719);
    border: 2px solid rgba(11, 11, 11, 0.719);
    color: white;
    font-size: 1.2rem; }
    #filterForm > button:hover {
      background-color: rgba(139, 139, 139, 0.719); }
    #filterForm > button:disabled {
      color: rgba(75, 75, 75, 0.719); }

@media (max-width: 1200px) {
  #productsDisplay {
    width: 80%;
    grid-template-columns: 1fr 1fr; } }
@media (max-width: 900px) {
  #productsDisplay {
    width: 100%; }

  #filterForm {
    width: 70%; } }
@media (max-width: 600px) {
  #productsDisplay {
    grid-template-columns: 1fr; }

  #filterForm {
    width: 100%; } }
#cart {
  width: 100%;
  padding: 20vh 0vh;
  margin: 0 auto; }
  #cart table {
    width: 100%;
    text-align: center; }
    #cart table > thead {
      font-size: 1.6rem;
      background-color: rgba(75, 75, 75, 0.719);
      color: white; }
    #cart table > tr {
      background-color: rgba(139, 139, 139, 0.719); }
      #cart table > tr > td:last-child {
        font-weight: bold; }
    #cart table td {
      font-size: 1.3rem; }
  #cart > button {
    width: 50%;
    height: 5vh;
    margin: 15vh auto;
    display: block;
    font-size: 1.5rem; }

@media (min-width: 1024px) {
  #cart {
    width: 80%; } }
@media (min-width: 1280px) {
  #cart {
    width: 60%; } }
#contact {
  width: 100%; }
  #contact > #contactBaner {
    width: 100%;
    height: 60vh;
    margin: 10vh auto 0 auto;
    background-image: url(~../media/pics/call.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    border: 2px solid rgba(75, 75, 75, 0.719); }
    #contact > #contactBaner > .layer {
      background-color: rgba(0, 17, 255, 0.397);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    #contact > #contactBaner > h3 {
      color: white;
      padding: 10%;
      font-size: 2rem;
      z-index: 2; }
  #contact > #contactOptions {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 150vh;
    width: 100%; }
    #contact > #contactOptions > div {
      width: 90%;
      height: auto;
      margin: 0 auto;
      border: 2px solid rgba(75, 75, 75, 0.719);
      position: absolute;
      background-color: white;
      left: 0;
      right: 0;
      text-align: center; }
      #contact > #contactOptions > div > svg {
        margin-top: 5%; }
      #contact > #contactOptions > div > h1 {
        padding: 10px;
        font-size: 2.2rem; }
      #contact > #contactOptions > div > p {
        padding-bottom: 10px;
        font-size: 1.3rem; }
      #contact > #contactOptions > div > a {
        font-size: 1.4rem; }
    #contact > #contactOptions > div:first-child {
      top: -10%; }
    #contact > #contactOptions > div:last-child {
      top: 55vh; }
      #contact > #contactOptions > div:last-child > button {
        width: 150px;
        height: 50px;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        background-color: rgba(0, 17, 255, 0.74);
        border-radius: 5px;
        border-color: transparent; }
        #contact > #contactOptions > div:last-child > button:hover {
          background-color: rgba(0, 11, 165, 0.836); }

@media (min-width: 900px) {
  #contact > #contactBaner > h3 {
    padding: 2vh;
    font-size: 4rem; }
  #contact > #contactOptions {
    flex-direction: row;
    height: 500px;
    width: 100%; }
    #contact > #contactOptions > div {
      width: 400px;
      height: 400px;
      z-index: 10; }
      #contact > #contactOptions > div > p {
        padding: 5%; }
    #contact > #contactOptions > div:first-child {
      top: -10%;
      left: 50%; }
    #contact > #contactOptions > div:last-child {
      top: -10%;
      right: 50%; } }
@media (min-width: 900px) {
  #contact > #contactBaner > h3 {
    padding: 2vh;
    font-size: 4rem; }
  #contact > #contactOptions {
    flex-direction: row;
    height: 500px;
    width: 100%; }
    #contact > #contactOptions > div {
      width: 400px;
      height: 400px;
      z-index: 10; }
      #contact > #contactOptions > div > p {
        padding: 5%; }
    #contact > #contactOptions > div:first-child {
      top: -10%;
      left: 50%; }
    #contact > #contactOptions > div:last-child {
      top: -10%;
      right: 50%; } }
@media (orientation: portrait) {
  #contact > #contactOptions {
    height: 100vh; }
    #contact > #contactOptions > div {
      height: 400px; }
    #contact > #contactOptions > div:first-child {
      top: -20%; }
    #contact > #contactOptions > div:last-child {
      top: 35vh; } }
#controlPanel {
  margin: 0 auto;
  width: 100vw;
  padding-top: 20vh;
  padding-bottom: 20vh;
  text-align: center; }

#loginForm > h1 {
  padding: 5vh; }
#loginForm > input {
  display: block;
  margin: 1vh auto;
  height: 50px;
  width: 80%;
  font-size: 1.6rem; }
#loginForm > label {
  font-size: 1.4rem; }
#loginForm > input[type=submit] {
  margin-top: 50px; }

#productsPanel {
  width: 100%;
  text-align: center; }
  #productsPanel > table {
    width: 100%;
    text-align: center; }
    #productsPanel > table > thead {
      font-size: 1.6rem;
      background-color: rgba(75, 75, 75, 0.719);
      color: white; }
    #productsPanel > table > tr {
      background-color: rgba(139, 139, 139, 0.719); }
      #productsPanel > table > tr > td:last-child {
        font-weight: bold; }
    #productsPanel > table td {
      font-size: 1.3rem;
      height: 30px; }
      #productsPanel > table td button {
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold; }
  #productsPanel > button {
    width: 50%;
    height: 5vh;
    margin: 10vh auto; }

@media (min-width: 800px) {
  #controlPanel {
    width: 60vw; } }
@media (min-width: 1024px) {
  #controlPanel {
    width: 40vw; } }
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  position: relative; }

body {
  overflow-x: hidden; }

body::-webkit-scrollbar {
  display: none; }

style, title {
  display: none; }

/*# sourceMappingURL=index.css.map */
