#about-us{
    width: 100%;
    height: auto;
    margin: 10vh auto;
    text-align: center;

    >p{
        padding: 5vh;
        padding-top: 0;
    }

    >h1{
        font-size: 4rem;
        padding:5vh;
        color: white;
        background-color: $color-primary;
    }

    >h2{
        padding:10vh 0vh;
    }

    >img{
        width: 100%;
        height: 500px;
        background-image: url(~../media/pics/sofa1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


#ourTeam{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    >h1{
        padding: 5vh
    }

    >.employee{
        padding: 5vh 0;
        img{
            width: 200px;
            height: 200px;
            border-radius: 100%;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 5vh;
        }
    }

}


#employee1{
    >img{
        background-image: url(~../media/pics/employee1.jpg);
    }
}

#employee2{
    >img{
        background-image: url(~../media/pics/employee2.jpg);
    }
}

#employee3{
    >img{
        background-image: url(~../media/pics/employee3.jpg);
    }
}

#timeline{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5vh auto;

    >.timelineItem{
        display: flex;
        justify-content: space-between;

        >h3{
            margin: auto;
            color: $color-primary;
            margin-right:2%;
        }

        >p{
            margin: auto;
            margin-left:0;
            width: 70%;
            padding: 5vh;
            font-size: 1.2rem;
            background-color: rgb(180, 180, 180);
            color:white;
            border-left: 4px solid rgb(25, 25, 255);
            border-bottom: 2px solid lighten($color-primary,30%);
            position: relative;

            &::before{
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 100%;
                border: 4px solid rgb(25, 25, 255);
                background-color: rgb(255, 255, 255);
                position: absolute;
                left:-10px;
                top:0;
                bottom: 0;
                margin: auto;
            }

            &:hover::before{
                background-color: rgb(25, 25, 255);
            }
        }

    }

}

@media (min-width:1024px){
    #about-us{
        >h2{
            width: 80%;
            font-size: 3rem;
            margin: auto;
        }
        >p{
            font-size:1.4rem;
            padding-bottom:10vh;
        }
    }

    #ourTeam{

     flex-direction:row;

    }

    #timeline{
        width:60%;
        padding:10vh 0;
        margin:auto;
    }
}

