.carousel-container{
    padding-top: 10vh;
    width: 750px;
    margin: auto;
    display: block;
    overflow:hidden;
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
    transition: transform 0.4s ease-in;
}
