#controlPanel{
    margin:0 auto;
    width: 100vw;

    padding-top: 20vh;
    padding-bottom: 20vh;
    text-align: center;

}

#loginForm{
    >h1{
        padding:5vh;
    }

    >input{
        display: block;
        margin:1vh auto;
        height: 50px;
        width: 80%;
        font-size: 1.6rem;
    }

    >label{
        font-size: 1.4rem;
    }

    >input[type=submit]{
        margin-top: 50px;
    }

}




