#contact{
    width: 100%;

    >#contactBaner{
        width: 100%;
        height: 60vh;

        margin:10vh auto 0 auto;

        background-image: url(~../media/pics/call.jpg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;

        position:relative;

        text-align: center;

        border:2px solid $color-primary;


        >.layer{
            background-color: rgba(0, 17, 255, 0.397);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        >h3{
            color:white;
            padding: 20%;

            font-size: 2rem;

            z-index: 2;


        }
    }

    >#contactOptions{
        display: flex;
        flex-direction: column;
        position:relative;
        height: 100vh;
        width: 100%;

        >div{
            width: 90%;
            height: 50vh;
            margin:0 auto;
            border:2px solid $color-primary;
            position: absolute;

            background-color: white;

            left:0;
            right: 0;

            text-align: center;

            >svg{
                margin-top: 5%;
            }

            >h1{
                padding:25px;
                font-size: 2.2rem;
            }
            >p{
                padding-bottom:50px;
                font-size:1.3rem;
            }
            >a{
                font-size: 1.4rem;
            }
        }

        >div:first-child{
            top:-20%;

        }

        >div:last-child{
            top:35vh;

            >button{
                width: 150px;
                height: 50px;
                font-size: 1.2rem;
                font-weight: bold;
                color: white;
                background-color: rgba(0, 17, 255, 0.74);
                border-radius: 5px;
                border-color: transparent;

                &:hover{
                    background-color: rgba(0, 11, 165, 0.836);
                }

            }
        }
    }

}


@media(min-width:1024px){
    #contact{
        >#contactBaner >h3{
            padding:2vh;
            font-size: 4rem;
        }

        >#contactOptions{
            flex-direction: row;
            height: 500px;
            width:100%;

            >div{
                width: 400px;
                height: 400px;
                z-index:10;
            }

            >div:first-child{
                top:-10%;
                left:50%;
            }

            >div:last-child{
                top:-10%;
                right:50%;
            }
        }
    }
}