$color-primary: rgb(117, 117, 117);

#main-navigation{
    position: fixed;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: space-around;
    top: 0;


    >img{
        width: 100px;
    }

    >ul{
        margin: 0;
        padding: 0;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        background-color: $color-primary;

        transition: transform 2s;

        >li{
            padding:40px;
            margin-top: 0;
            font-size: 2rem;
            height: 10vh;
            text-align: right;
            list-style: none;
            border-bottom: 1px solid grey;

            &:hover{
                background-color: grey;
            }

            >a{
                color: black;
                text-decoration: none;


            }
        }

    }
}

.menu-unactive{
    transform: translate(100vh,0);
}

.menu-active{
    transform: translate(0,0);
}

#burger{
    width: 50px;
    height: 50px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top:20px;
    right: 20px;

    >div{
        width: 80%;
        height: 5px;
        background-color: white;
        margin: 0 auto;
    }
}

@media (min-width:1000px){

    #main-navigation{
        flex-direction: row;
        >ul{
            flex-direction: row;
        }
    }

    // #burger{
    //     display: none;
    // }

}