$color-primary: rgb(117, 117, 117);

#main-navigation{
    position: fixed;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: space-around;
    top: 0;


    >ul{
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        background-color: $color-primary;

        transition: transform 2s;

        >img{
            width: 150px;
            height: 100px;
        }

        >li{
            padding:40px;
            margin-top: 0;
            font-size: 2rem;
            text-align: right;
            list-style: none;
            border-bottom: 1px solid grey;

            &:hover{
                background-color: grey;
            }

            >a{
                color: black;
                text-decoration: none;


            }
        }

    }
}

#burger{
    width: 50px;
    height: 50px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top:20px;
    right: 20px;


    >div{
        width: 80%;
        height: 5px;
        background-color: white;
        margin: 0 auto;
        transition: transform 1s, opacity 1s;
    }
}


.menu-unactive{
    transform: translate(100vh,0);
}

.menu-active{
    transform: translate(0,0);
}


.burger-active{

    >div:first-child{
        transform: rotate(-45deg)
                    translate(-13px, 10px);
    }

    >div:nth-child(2){
        opacity: 0;
    }

    >div:last-child{
        transform: rotate(45deg)
                    translate(-13px, -10px);;
    }
}


@media screen and (min-width:1000px){

    #main-navigation{
        height: 7vh;
        width: 100vw;
        flex-direction: row;
        background-color: $color-primary;

        >ul{
            flex-direction: row;
            height: 100%;
            width: 100vw;

            >img{
                width: 150px;
                height: 100%;
            }

            >li{
                padding:0;
            }

        }
    }

    #burger{
        display: none;
    }

    .menu-unactive{
        transform: translate(0,0);
    }

}