#productsDisplay{
    width: 60%;
    margin:10vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
    position: relative;

    >.productItem{
        width: auto;
        height: auto;
        text-align: center;
        margin-bottom: 2.5vh;

        >a >img{
            width: 100%;
            height: 250px;

            &:hover{
                border:5px solid $color-primary;
            }

        }

    }
}

#filterForm{
    width: 40%;
    padding-top: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    justify-items: center;

    >label{
        font-size: 1.5rem;
        font-weight: bold;
    }

    >button{
        width: 150px;
        padding:5px;
        border: none;
        background-color: $color-primary;
        border: 2px solid darken($color-primary,25%);
        color:white;
        font-size: 1.2rem;


        &:hover{
            background-color: lighten($color-primary,25%);
        }

        &:disabled{
            color: $color-primary;
        }

    }

}

@media (max-width:1200px){
    #productsDisplay{
        width: 80%;
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width:900px){
    #productsDisplay{
        width:100%;
    }
    #filterForm{
        width: 70%;
    }
}

@media (max-width:600px){
    #productsDisplay{
        grid-template-columns: 1fr;
    }
    #filterForm{
        width: 100%;
    }
}