#productsDisplay{
    width: 60%;
    margin:10vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
    position: relative;

    >.productItem{
        width: auto;
        height: auto;
        text-align: center;
        margin-bottom: 2.5vh;

        >a >img{
            width: 100%;
            height: 250px;

            &:hover{
                border:5px solid $color-primary;
            }
        }

    }
}


@media (max-width:1200px){
    #productsDisplay{
        width: 80%;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:900px){
    #productsDisplay{
        width:100%;
    }
}

@media (max-width:600px){
    #productsDisplay{
        grid-template-columns: 1fr;
    }
}