#productEdit{
    width:100%;
    margin-top:10vh;
    display: flex;
    flex-direction: column;
    text-align:center;

    >h1{
        padding:5%;
    }

    section{
        width:100%;
        display:flex;
        justify-content:space-between;
        margin:5vh auto;

        >label{
            width:50%
        }

        input,
        textarea{
            width:50%;
            min-width:50%;
            max-width: 50%;

        }

        >a {
            width: 50%;
            input[type=button]{
                height: 10vh;
            }
        }


    }
}

@media(min-width:800px){
    #productEdit{
        margin: 0 auto;
        width:80%;
        >h1{
            padding:10vh;
        }
    }
}

@media(min-width:1024px){
    #productEdit{
        width:60%;
    }
}