#recommended{
    margin-top: 10vh;
    margin-bottom: 20vh;
    height: 30vh;
    width: 100%;
    text-align: center;
    position: relative;


    #rec-options{
        display: flex;
        justify-content: space-around;
        border-bottom: 2px solid grey;
    }

    h1{
        cursor: pointer;
        font-size: 1.5rem;

        &:hover{
            border-bottom:4px solid red;
        }
    }

    #recommended-products{
        display: flex;
        justify-content: space-around;
        padding: 6vh;
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.171);
        background-color: rgba(175, 175, 175, 0.548);

        .recommended-product{
            width: 20%;

            >img{
                width: 250px;
                height: 150px;
                background-position: center;
                background-size: cover;
                box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.171);

                cursor: pointer;

                &:hover{
                    border: 2px solid grey;
                }

            }

            >h4{
                font-size: 1.6rem;
            }

            >h5{
                font-size: 1.4rem;
            }

        }


    }
}

.option-active{
    border-bottom:4px solid red;
}

.special-price{
    color: red;
    text-decoration: line-through;
}

@media (max-width:1124px){
    #recommended #recommended-products{
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width:980px){
    #recommended #recommended-products{
        flex-direction: column;

        .recommended-product{
            width: 100%;
            padding:40px;

            >img{
                width: 80%;
                height: auto;
            }

        }
    }
}