#recommended{
    margin-top: 10vh;
    margin-bottom: 20vh;
    height: 30vh;
    width: 100%;
    text-align: center;

    #rec-options{
        display: flex;
        justify-content: space-around;
        border-bottom: 2px solid grey;
        margin-bottom: 2vh;
    }

    h1{
        margin-bottom: 2vh;
        cursor: pointer

    }

    #recommended-products{
        display: flex;
        justify-content: space-around;

        .recommended-product{
            width: 20%;

            >img{
                width: 250px;
                height: 150px;
                background-position: center;
                background-size: cover;

                box-sizing: border-box;

                &:hover{
                    border: 2px solid grey;
                }
            }

        }
    }
}

.option-active{
    border-bottom:4px solid red;
}