#recommended{
    margin-top: 10vh;
    margin-bottom: 20vh;
    height: 30vh;
    width: 100%;
    text-align: center;

    #rec-options{
        display: flex;
        justify-content: space-around;
        border-bottom: 2px solid grey;
    }

    h1{
        cursor: pointer;
        font-size: 1.5rem;

        &:hover{
            border-bottom:4px solid red;
        }
    }

    #recommended-products{
        display: flex;
        justify-content: space-around;
        padding: 6vh;
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.171);
        background-color: rgba(175, 175, 175, 0.548);

        .recommended-product{
            width: 20%;

            >img{
                width: 250px;
                height: 150px;
                background-position: center;
                background-size: cover;
                box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.171);

                cursor: pointer;

                &:hover{
                    border: 2px solid grey;
                }
            }

        }
    }
}

.option-active{
    border-bottom:4px solid red;
}