@import 'menu';
@import 'baner';
@import 'recommendedProducts';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

style,title{
    display: none;
}