@import 'menu';
@import 'baner';
@import 'recommendedProducts';
@import 'product';
@import 'aboutUs';


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;

}

body{
    overflow-x: hidden;
}

style,title{
    display: none;
}
